@import url('https://use.typekit.net/cbg5juo.css') layer(base);

@import 'tailwindcss';

:root {
   --color-black: 10 10 15;
   --color-white: 220 220 214;
   --color-green: 0 128 0;
}
:root[data-theme='dark'] {
   --color-primary: 18 12 15;
   --color-secondary: 252 249 248;
   --color-faded: 154 152 152;
   --color-scroll: 252, 249, 248;
   --color-focus: 154, 152, 152;
}
:root[data-theme='light'] {
   --color-primary: 220 220 214;
   --color-secondary: 33 33 33;
   --color-faded: 154 152 152;
   --color-scroll: 33, 33, 33;
   --color-focus: 154, 152, 152;
}
:root[data-theme='green'] {
   --color-primary: 0 40 0;
   --color-secondary: 0 255 0;
   --color-faded: 0 100 0;
   --color-scroll: 0, 255, 0;
   --color-focus: 0, 100, 0;
}

@theme inline {
   --animate-fade-in: fadeIn 1s linear forwards;

   --container-desktop: 2000px;

   --min-height-1\/2: 50vh;

   --font-headline: var(--font-primary), sans-serif;
   --font-text: var(--font-secondary);

   --z-index-5: 5;
   --z-index-8: 8;
   --z-index-15: 15;
   --z-index-100: 100;

   --tracking-tightest: -0.075em;

   --color-colorBlack: rgb(var(--color-black));
   --color-colorWhite: rgb(var(--color-white));
   --color-colorGreen: rgb(var(--color-green));
   --color-primary: rgb(var(--color-primary));
   --color-secondary: rgb(var(--color-secondary));
   --color-colorFaded: rgb(var(--color-faded));

   --grid-template-columns-20: repeat(20, 1fr);

   --text-numberDesktop: 30vw;
   --text-numberTablet: 40vw;
   --text-numberMobile: 80vw;
   --text-huge: 32rem;
   --text-displayLarge: 18rem;
   --text-displayMedium: 10.3rem;
   --text-displaySmall: 5.7rem;
   --text-headlineLarge: 3.2rem;
   --text-headlineMedium: 2.8rem;
   --text-headlineSmall: 2.4rem;
   --text-titleLarge: 2.2rem;
   --text-titleMedium: 1.6rem;
   --text-titleSmall: 1.4rem;
   --text-bodyLarge: 1.8rem;
   --text-bodyMedium: 1.6rem;
   --text-bodySmall: 1.4rem;
   --text-labelLarge: 1.4rem;
   --text-labelMedium: 1.2rem;
   --text-labelSmall: 1.1rem;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
   *,
   ::after,
   ::before,
   ::backdrop,
   ::file-selector-button {
      border-color: var(--color-gray-200, currentcolor);
   }

   * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
   }
}

@layer utilities {
   :root {
      --max-width: 1100px;
      --border-radius: 12px;
      --font-secondary: 'ff-real-text-pro', sans-serif;
   }
}

@layer base {
   ::-webkit-scrollbar {
      width: 4px;
      height: 4px;
   }
   ::-webkit-scrollbar-track {
      background-color: rgba(var(--color-scroll), 0.2);
      margin-block: 2px;
   }
   ::-webkit-scrollbar-thumb {
      background-color: rgba(var(--color-scroll), 1);
      width: 1rem;
      height: 1rem;
      border: none;
   }

   /* @supports (scrollbar-color: #000 #fff) {
      & > * {
         scrollbar-color: #000 #fff;
         scrollbar-width: 4px;
      }
   } */

   p {
      @apply text-bodyLarge;
      @apply mb-8;
   }

   /* KEYBOARD FOCUS */

   *:focus-visible {
      background-color: rgba(var(--color-focus), 1);
      outline: none;
   }

   button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 4px solid rgba(var(--color-focus), 1);
      z-index: 100;
      opacity: 0;
      pointer-events: none;
   }

   button:focus-visible::before {
      opacity: 1;
   }
}

html {
   font-size: 10px;
}

html,
body {
   font-weight: 200;
   -webkit-font-smoothing: antialiased;
   transition: background-color 0.2s linear;
}

a {
   text-decoration: none;
   color: var(--color-secondary);
   transition: color 0.2s linear;
}

a:hover {
   color: var(--color-faded);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
a {
   text-transform: uppercase;
   font-family: var(--font-primary), sans-serif;
   overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 500;
   line-height: 0.8;
   letter-spacing: -0.025em;
}

h4,
h5,
h6 {
   line-height: 1;
}

span,
button,
a,
p {
   font-weight: 300;
}

button {
   cursor: pointer;
}

textarea {
   resize: none;
}

.page {
   display: hidden;
}

.year {
   font-size: clamp(15rem, 80vw, 46rem);

   @media (min-width: 768px) {
      font-size: clamp(28rem, 30vw, 56rem);
   }
}

/* GRID */ /* GRID */ /* GRID */ /* GRID */ /* GRID */ /* GRID */ /* GRID */ /* GRID */
.animation-grid-element .static-line:nth-child(1) {
   width: 100%;
   height: 1px;
   top: 0;
   left: 0;
}

.animation-grid-element .static-line:nth-child(2) {
   height: 100%;
   width: 1px;
   top: 0;
   right: 0;
}

.animation-grid-element .static-line:nth-child(3) {
   width: 100%;
   height: 1px;
   bottom: 0;
   left: 0;
}

.animation-grid-element .static-line:nth-child(4) {
   top: 0;
   left: 0;
   width: 1px;
   height: 100%;
}

/* WORKAROUND FOR vh */

.custom-min-h-screen {
   min-height: 100vh;
   min-height: 100svh;
}

/* WORKAROUND FOR COL-START BUG */
.custom-col-start-1 {
   grid-column: 1 / 12;
}

.custom-col-start-2 {
   grid-column: 2 / 13;
}

.custom-col-start-3 {
   grid-column: 3 / 14;
}

.custom-col-start-4 {
   grid-column: 4 / 15;
}

.custom-col-start-5 {
   grid-column: 5 / 16;
}

.custom-col-start-6 {
   grid-column: 6 / 17;
}

.custom-col-start-7 {
   grid-column: 7 / 18;
}

.custom-col-start-8 {
   grid-column: 8 / 19;
}

.custom-col-start-9 {
   grid-column: 9 / 20;
}

@media screen and (min-width: 768px) {
   .custom-col-start-1 {
      grid-column: 1 / 5;
   }

   .custom-col-start-2 {
      grid-column: 2 / 5;
   }

   .custom-col-start-3 {
      grid-column: 3 / 7;
   }

   .custom-col-start-4 {
      grid-column: 4 / 8;
   }

   .custom-col-start-5 {
      grid-column: 5 / 9;
   }

   .custom-col-start-6 {
      grid-column: 6 / 10;
   }

   .custom-col-start-7 {
      grid-column: 7 / 11;
   }

   .custom-col-start-8 {
      grid-column: 8 / 12;
   }

   .custom-col-start-9 {
      grid-column: 9 / 13;
   }
}
