@import url('https://use.typekit.net/cbg5juo.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --max-width: 1100px;
   --border-radius: 12px;
   --font-secondary: 'ff-real-text-pro', sans-serif;

   --delay1: 0.7s;
   --delay2: 1s;
   --delay3: 1.5s;

   --duration1: 0.5s;
   --duration2: 1s;
}

@layer base {
   :root {
      --color-crimson: 220 20 60;
      --color-burgundy: 128 0 32;
      --dark-burgundy: 54 0 0;
      --color-black: 6 6 7;
      --color-white: 252 249 248;
      --color-green: 0 128 0;
   }
   :root[data-theme='dark'] {
      --color-primary: 6 6 7;
      --color-secondary: 252 249 248;
      --color-faded: 154 152 152;
   }
   :root[data-theme='light'] {
      --color-primary: 252 249 248;
      --color-secondary: 6 6 7;
      --color-faded: 154 152 152;
   }
   :root[data-theme='green'] {
      --color-primary: 0 40 0;
      --color-secondary: 0 255 0;
      --color-faded: 0 100 0;
   }
   :root[data-theme='burgundy'] {
      --color-primary: 54 0 0;
      --color-secondary: 240 20 60;
      --color-faded: 130 40 60;
   }
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

* > :focus-visible {
   background-color: var(--color-gray);
   outline: none;
}

html {
   font-size: 10px;
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
   font-weight: 200;
   -webkit-font-smoothing: antialiased;
}

a {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
a {
   text-transform: uppercase;
   font-family: var(--font-primary) sans-serif;
   overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 400;
   line-height: 1;
}

span,
button,
a,
p {
   font-weight: 300;
}

p {
   margin-bottom: 2rem;
}

button {
   cursor: pointer;
}

/* GRID */ /* GRID */ /* GRID */ /* GRID */ /* GRID */ /* GRID */ /* GRID */ /* GRID */

.animation-grid-element .static-line:nth-child(1) {
   width: 100%;
   height: 1px;
   top: 0;
   left: 0;
}

.animation-grid-element .static-line:nth-child(2) {
   height: 100%;
   width: 1px;
   top: 0;
   right: 0;
}

.animation-grid-element .static-line:nth-child(3) {
   width: 100%;
   height: 1px;
   bottom: 0;
   left: 0;
}

.animation-grid-element .static-line:nth-child(4) {
   top: 0;
   left: 0;
   width: 1px;
   height: 100%;
}

/* outline animation */
/* .grid-element {
   position: relative;
   overflow: hidden;
} */

/* .line,
.line-transparent {
   position: absolute;
   transform: translate3d(0, 0, 0);
} */

/* .grid-element .line {
   background-color: var(--color-black);
}

.grid-element .line-transparent {
   background-color: var(--color-white);
}

.dark .grid-element .line {
   background-color: var(--color-white);
}

.dark .grid-element .line-transparent {
   background-color: var(--color-black);
} */

/* top line */
.grid-element .line:nth-child(1) {
   width: 100%;
   height: 1px;
   top: 0;
   left: 0;
   transform: translate3d(-100%, 0, 0);
   animation: gridLineAnimation var(--duration2) var(--delay1) forwards;
}

/* right line */
.grid-element .line:nth-child(2) {
   height: 100%;
   width: 1px;
   top: 0;
   right: 0;
   transform: translate3d(0, -100%, 0);
   animation: gridLineAnimation var(--duration1) var(--delay3) forwards;
}

/* bottom line */
.grid-element .line:nth-child(3) {
   width: 100%;
   height: 1px;
   bottom: 0;
   left: 0;
   transform: translate3d(-100%, 0, 0);
   animation: gridLineAnimation var(--duration1) var(--delay3) forwards;
}

/* left line */
.grid-element .line:nth-child(4) {
   top: 0;
   left: 0;
   width: 1px;
   height: 100%;
   transform: translate3d(0, -100%, 0);
   animation: gridLineAnimation var(--duration1) var(--delay2) forwards;
}

/* ANIMATIONS */

@keyframes gridLineAnimation {
   to {
      transform: translate3d(0, 0, 0);
   }
}

/* WORKAROUND FOR COL-START BUG */

.custom-col-start-1 {
   grid-column-start: 1;
}

.custom-col-start-2 {
   grid-column-start: 2;
}

.custom-col-start-3 {
   grid-column-start: 3;
}

.custom-col-start-4 {
   grid-column-start: 4;
}

.custom-col-start-5 {
   grid-column-start: 5;
}

.custom-col-start-6 {
   grid-column-start: 6;
}

.custom-col-start-7 {
   grid-column-start: 7;
}

.custom-col-start-8 {
   grid-column-start: 8;
}
